<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/bootstrap') %>
        <title>Add Form Movie</title>
    </head>
    <body>
        <%- include('partials/navbar') %> 
        <form action="" method="POST">
            <label>Username :</label><br>
            <input type="text" name="username"><br>
            <label>Password:</label><br>
            <input type="password" name="password"><br>
            <label>Address:</label><br>
            <input type="text" name="address"><br>
            <label>Phone Number:</label><br>
            <input type="text" name="phoneNumber"><br>
            <button type="submit">Add</button>
        </form>
    </body>
</html>